body{
    background-color: #1310eb;
}


header{
    background-color: aqua;
    color: #179fd9;
    text-align: center;
}


nav{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-left: 300px;
    margin-right: 300px;
}


a:hover{
    color: #FFF100;
    background-color: #D2FF72;
}


a{
    border: 5px inset #4CC9FE;
    border-radius: 5px;
    color: green;
    padding: 5px 5px 5px 5px;
    background-color: greenyellow;
}


.thongtin{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    padding: 30px;
    border: 15px double #C6E7FF;
    border-radius: 25px;
}


h1{
    color:#179fd9 ;
}


footer{
    display: flex;
    margin-top: 50px;
    background-color: #C6E7FF;
}


.footerinfo{
    margin: 10px;
}


footer img {
    margin: 15px;
}
